@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page {
  background-color: #202020;
  max-width: 1280px;
  margin: 0 auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__page-container {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
